# Data Sciense Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List development environment open source tools used in Data Science

## Data Science Languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

## Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. Matplotlib

## Data Science Tools

| Data Science Tools |
|--------------------|
|Jupyter Notebook|
|Rstudio|
|Apache Spark|

## Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Abhivandit